services:
    postgres-master:
        image: postgres:16
        container_name: postgres-master
        restart: unless-stopped
        environment:
            POSTGRES_PASSWORD: 123456789
        volumes:
            - /home/azureuser/pgdata:/var/lib/postgresql/data
            - ./master/postgresql.conf:/custom-config/postgresql.conf
            - ./master/pg_hba.conf:/custom-config/pg_hba.conf
            - ./01_init.sh:/docker-entrypoint-initdb.d/01_init.sh
            - ./00_init.sql:/docker-entrypoint-initdb.d/00_init.sql
        ports:
            - "5432:5432"
        networks:
            - mi-red
        shm_size: 512m
        mem_limit: 2g
        mem_reservation: 1g
        memswap_limit: 2500m
        pids_limit: 200

    solr:
        image: solr:9
        container_name: solr
        restart: unless-stopped
        command:
            - solr-precreate
            - smartia_logs_core
            - /opt/solr/server/solr/configsets/mi_configset
        ports:
            - "8983:8983"
        networks:
            - mi-red
        volumes:
            - /home/azureuser/solrdata:/var/solr/data
            - ./solr-config:/opt/solr/server/solr/configsets/mi_configset
            - ./security.json:/var/solr/data/security.json
        environment:
            - SOLR_HEAP=2g
        mem_limit: 3500m
        mem_reservation: 2500m
        memswap_limit: 4g
        pids_limit: 300

    mi-redis:
        image: redis
        container_name: mi-redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        networks:
            - mi-red
        command: ["redis-server", "--maxmemory", "768mb", "--maxmemory-policy", "allkeys-lru"]
        mem_limit: 1g
        mem_reservation: 512m
        memswap_limit: 1200m
        pids_limit: 100

networks:
    mi-red:
        external: true

volumes:
    pgdata:
    solrdata:



